<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="CDB" value ="C:\Program Files\Windows Kits\8.0\Debuggers\x64\CDB.exe"></add>
    <add key ="SendMail" value="true"/>
    <add key ="SmtpServer" value="sinpmail.citrite.net"/>
    <add key ="MailSubject" value="You got a crash dump analyze report."/>
    <add key ="MailFrom" value ="dump.analyzer@taas.citrix.com"/>
    <add key ="MailTo" value="dan.hu@citrix.com"/>
  </appSettings>
</configuration>