<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="PrivateChannel.ChannelServer" behaviorConfiguration="metadataBehavior" >
        <endpoint address="diagnose" binding="basicHttpBinding" bindingConfiguration="ChannelServerBinding"
            contract="PrivateChannel.Interface.IChannelServer" >
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://T430-DANHU.CITRITE.NET:8000/ChannelService" />
          </baseAddresses>
        </host>

      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="ChannelServerBinding" sendTimeout="00:10:00" transferMode="Streamed" maxReceivedMessageSize="9223372036854775807">       
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>