<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_PrivateChannelServer">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ChannelServer" closeTimeout="10:01:00"  openTimeout="10:01:00" sendTimeout="10:01:00">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.158.138.44:8000/ChannelService/diagnose"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_PrivateChannelServer"
                contract="ServiceReferences.PrivateChannelServer" name="WSHttpBinding_PrivateChannelServer" />
            <endpoint address="http://channeldanhu.cloudapp.net/ChannelServer.svc/collector"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ChannelServer"
                contract="AzureChannel.ChannelServer" name="WSHttpBinding_ChannelServer" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key ="UploadToCloud" value="true"/>
  </appSettings>
</configuration>