<?xml version="1.0"?>
<configuration>
  <!--  To collect diagnostic traces, uncomment the section below or merge with existing system.diagnostics section.
        To persist the traces to storage, update the DiagnosticsConnectionString setting with your storage credentials.
        To avoid performance degradation, remember to disable tracing on production deployments.
  <system.diagnostics>     
    <sharedListeners>
      <add name="AzureLocalStorage" type="WCFWeb.AzureLocalStorageTraceListener, WCFWeb"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
    </sources> 
   </system.diagnostics> -->
  <system.diagnostics>
    <sharedListeners>
      <add
        type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="AzureDiagnostics">
        <filter type="" />
      </add>
    </sharedListeners>
    <sources>
      <source name="CustomTrace">
        <listeners>
          <add name="AzureDiagnostics"/>
        </listeners>
      </source>
    </sources>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="512000"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCFWeb.ChannelServer" behaviorConfiguration="metadataBehavior" >
        <endpoint address="collector" binding="wsHttpBinding" bindingConfiguration="FileServiceBinding"
            contract="WCFWeb.IChannelServer">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10086/ChannelService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      
      <wsHttpBinding>
        <binding name="FileServiceBinding" closeTimeout="10:01:00"
          maxBufferPoolSize="1048576000"
          maxReceivedMessageSize="1048576000" openTimeout="10:01:00"
          receiveTimeout="10:10:00" sendTimeout="10:01:00">
          <readerQuotas maxDepth="104857600" maxStringContentLength="104857600"
                        maxArrayLength="104857600" maxBytesPerRead="104857600"
                        maxNameTableCharCount="104857600" />
         <security mode="None" />
        </binding>
      </wsHttpBinding>
      
      <!--
      <basicHttpBinding>
        <binding name="FileServiceBinding"  transferMode="Streamed" closeTimeout="10:01:00"
          maxBufferPoolSize="1048576000"
          maxReceivedMessageSize="1048576000" openTimeout="10:01:00"
          receiveTimeout="10:10:00" sendTimeout="10:01:00">
          <readerQuotas maxDepth="104857600" maxStringContentLength="104857600"
                        maxArrayLength="104857600" maxBytesPerRead="104857600"
                        maxNameTableCharCount="104857600" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      -->
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
        <!--500 MB-->
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
